<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/对整型数组元素按照升序或降序进行排序/src/Main/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Main.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="对整型数组元素按照升序或降序进行排序"/>
</launchConfiguration>
